.align-center {
    text-align: -webkit-center;
}

.container {
    margin-bottom: 20px;
  }
  
  .row-divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  .datepicker-input {
  width: 65%; /* Adjust the width as needed */
}